---
layout:
title: Marketing Communication
css: 319
---

<!DOCTYPE html>
<html class="html" lang="en-US" itemscope itemtype="http://schema.org/WebPage">
{% include head.html %}

<body class="page-template-default page page-id-319 wp-custom-logo oceanwp-theme sidebar-mobile no-header-border default-breakpoint content-full-screen page-header-disabled has-breadcrumbs no-margins elementor-default elementor-page elementor-page-319">

<div id="outer-wrap" class="site clr">
    <div id="wrap" class="clr">
        <header id="site-header" class="minimal-header clr" data-height="140" itemscope="itemscope" itemtype="http://schema.org/WPHeader">
            <div id="site-header-inner" class="clr container">
                <div id="site-logo" class="clr" itemscope itemtype="http://schema.org/Brand">
                    <div id="site-logo-inner" class="clr">
                        <a href="/"
                           class="custom-logo-link"
                           rel="home"
                           itemprop="url">
                            <img width="800"
                                 height="418"
                                 src="/assets/img/cropped-C.B.C.L.-Logo-1.png"
                                 class="custom-logo"
                                 alt=""
                                 itemprop="logo"
                                 srcset="/assets/img/cropped-C.B.C.L.-Logo-1.png 800w, /assets/img/cropped-C.B.C.L.-Logo-1-300x157.png 300w, /assets/img/cropped-C.B.C.L.-Logo-1-768x401.png 768w"
                                 sizes="(max-width: 800px) 100vw, 800px" />
                        </a>
                    </div><!-- #site-logo-inner -->
                </div><!-- #site-logo -->

                <div id="site-navigation-wrap" class="clr">
                    <nav id="site-navigation"
                         class="navigation main-navigation clr"
                         itemscope="itemscope"
                         itemtype="http://schema.org/SiteNavigationElement">
                        <ul id="menu-menu1"
                            class="main-menu dropdown-menu sf-menu">
                            <li id="menu-item-41"
                                class="menu-item menu-item-type-custom menu-item-object-custom menu-item-home menu-item-41">
                                <a href="/#home" class="menu-link">
                                    <span class="text-wrap">
                                        HOME
                                    </span>
                                </a>
                            </li>
                            <li id="menu-item-43"
                                class="menu-item menu-item-type-custom menu-item-object-custom menu-item-home menu-item-43">
                                <a href="/#about" class="menu-link">
                                    <span class="text-wrap">
                                        ABOUT US
                                    </span>
                                </a>
                            </li>
                            <li id="menu-item-45"
                                class="menu-item menu-item-type-custom menu-item-object-custom menu-item-home current-menu-ancestor current-menu-parent menu-item-has-children dropdown menu-item-45">
                                <a href="/#services" class="menu-link">
                                    <span class="text-wrap">
                                        SERVICES <span class="nav-arrow fa fa-angle-down"></span>
                                    </span>
                                </a>
                                <ul class="sub-menu">
                                    <li id="menu-item-627"
                                        class="menu-item menu-item-type-post_type menu-item-object-page menu-item-627">
                                        <a href="/serviced-offices" class="menu-link">
                                            <span class="text-wrap">
                                                Serviced Offices
                                            </span>
                                        </a>
                                    </li>
                                    <li id="menu-item-623"
                                        class="menu-item menu-item-type-post_type menu-item-object-page current-menu-item page_item page-item-319 current_page_item menu-item-623">
                                        <a href="/marketing-communication" class="menu-link">
                                            <span class="text-wrap">
                                                Marketing Communication
                                            </span>
                                        </a>
                                    </li>
                                    <li id="menu-item-625"
                                        class="menu-item menu-item-type-post_type menu-item-object-page menu-item-625">
                                        <a href="/support-facilities" class="menu-link">
                                            <span class="text-wrap">
                                                Support &#038; Facilities
                                            </span>
                                        </a>
                                    </li>
                                </ul>
                            </li>
                            <li id="menu-item-171"
                                class="menu-item menu-item-type-custom menu-item-object-custom menu-item-home menu-item-has-children dropdown menu-item-171">
                                <a href="/#gallery" class="menu-link">
                                    <span class="text-wrap">
                                        GALLERY <span class="nav-arrow fa fa-angle-down"></span>
                                    </span>
                                </a>
                                <ul class="sub-menu">
                                    <li id="menu-item-681"
                                        class="menu-item menu-item-type-custom menu-item-object-custom menu-item-home menu-item-681">
                                        <a href="/#floors" class="menu-link">
                                            <span class="text-wrap">
                                                FLOOR PLAN
                                            </span>
                                        </a>
                                    </li>
                                </ul>
                            </li>
                            <li id="menu-item-47"
                                class="menu-item menu-item-type-custom menu-item-object-custom menu-item-home menu-item-47">
                                <a href="/#contact" class="menu-link">
                                    <span class="text-wrap">
                                        CONTACT
                                    </span>
                                </a>
                            </li>
                        </ul>
                    </nav><!-- #site-navigation -->
                </div><!-- #site-navigation-wrap -->

                <div class="oceanwp-mobile-menu-icon clr mobile-right">
                    <a href="#" class="mobile-menu">
                        <i class="fa fa-bars"></i>
                        <span class="oceanwp-text">
                            Menu
                        </span>
                    </a>
                </div><!-- #oceanwp-mobile-menu-navbar -->
            </div><!-- #site-header-inner -->
        </header><!-- #site-header -->

        <main id="main" class="site-main clr" >
            <div id="content-wrap" class="container clr">
                <div id="primary" class="content-area clr">
                    <div id="content" class="site-content clr">

                        <article class="single-page-article clr">
                            <div class="entry clr" itemprop="text">
                                <div data-elementor-type="post" data-elementor-id="319" class="elementor elementor-319" data-elementor-settings="[]">
                                    <div class="elementor-inner">
                                        <div class="elementor-section-wrap">
                                            <section class="elementor-element elementor-element-22ba779 elementor-section-full_width elementor-section-height-min-height elementor-section-content-middle elementor-section-height-default elementor-section-items-middle elementor-section elementor-top-section" data-id="22ba779" data-element_type="section" data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
                                                <div class="elementor-background-overlay"></div>
                                                <div class="elementor-container elementor-column-gap-no">
                                                    <div class="elementor-row">
                                                        <div class="elementor-element elementor-element-c30a0db elementor-column elementor-col-100 elementor-top-column" data-id="c30a0db" data-element_type="column">
                                                            <div class="elementor-column-wrap  elementor-element-populated">
                                                                <div class="elementor-widget-wrap">
                                                                    <div class="elementor-element elementor-element-ddaa268 elementor-widget elementor-widget-heading" data-id="ddaa268" data-element_type="widget" data-widget_type="heading.default">
                                                                        <div class="elementor-widget-container">
                                                                            <h2 class="elementor-heading-title elementor-size-xl">MARKETING COMMUNICATION</h2>		</div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </section>
                                            <section class="elementor-element elementor-element-dbe0fb9 elementor-section-height-min-height elementor-section-boxed elementor-section-height-default elementor-section-items-middle elementor-section elementor-top-section" data-id="dbe0fb9" data-element_type="section">
                                                <div class="elementor-container elementor-column-gap-no">
                                                    <div class="elementor-row">
                                                        <div class="elementor-element elementor-element-49253cb elementor-column elementor-col-100 elementor-top-column" data-id="49253cb" data-element_type="column">
                                                            <div class="elementor-column-wrap  elementor-element-populated">
                                                                <div class="elementor-widget-wrap">
                                                                    <div class="elementor-element elementor-element-0bcab13 elementor-widget elementor-widget-text-editor" data-id="0bcab13" data-element_type="widget" data-widget_type="text-editor.default">
                                                                        <div class="elementor-widget-container">
                                                                            <div class="elementor-text-editor elementor-clearfix">Get your company’s name out from the comfort of your office.
                                                                                <br>Our in-house Business and Marketing Communications team can handle any and all of your promotional needs, including the formulation of marketing strategies, creation of full Corporate IDs, such as letterheads and business cards, design and development of websites, event organisation and more.</br></div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </section>
                                            <section class="elementor-element elementor-element-d04182c elementor-section-height-min-height elementor-section-boxed elementor-section-height-default elementor-section-items-middle elementor-section elementor-top-section" data-id="d04182c" data-element_type="section" data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
                                                <div class="elementor-container elementor-column-gap-default">
                                                    <div class="elementor-row">
                                                        <div class="elementor-element elementor-element-c524cbe elementor-column elementor-col-100 elementor-top-column" data-id="c524cbe" data-element_type="column">
                                                            <div class="elementor-column-wrap  elementor-element-populated">
                                                                <div class="elementor-widget-wrap">
                                                                    <div class="elementor-element elementor-element-1e9f549 elementor-widget elementor-widget-heading" data-id="1e9f549" data-element_type="widget" data-widget_type="heading.default">
                                                                        <div class="elementor-widget-container">
                                                                            <h2 class="elementor-heading-title elementor-size-large">Corporate Identity</h2>		</div>
                                                                    </div>
                                                                    <div class="elementor-element elementor-element-cb16776 elementor-widget elementor-widget-text-editor" data-id="cb16776" data-element_type="widget" data-widget_type="text-editor.default">
                                                                        <div class="elementor-widget-container">
                                                                            <div class="elementor-text-editor elementor-clearfix"><p>The Corporate ID Package* includes the design and prepress preparation for:</p><ul><li>Custom Company Logo</li><li>Letterheads</li><li>Envelopes (DL, A5 &amp; A4)</li><li>Business Cards</li><li>Invoices</li><li>Receipts</li><li>Compliment slips</li><li>Notepads</li></ul><p>* Printing of stationery is not included and can be arranged with local preferred printing houses. Quantities to be determined with client.</p><p>Registration in Cyprus business directories, corporate profiles, corporate gifts, multimedia presentations, AGMs, organisation of seminars and events etc., are also available.</p></div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </section>
                                            <section class="elementor-element elementor-element-41dd3e4 elementor-section-height-min-height elementor-section-boxed elementor-section-height-default elementor-section-items-middle elementor-section elementor-top-section" data-id="41dd3e4" data-element_type="section" data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
                                                <div class="elementor-background-overlay"></div>
                                                <div class="elementor-container elementor-column-gap-default">
                                                    <div class="elementor-row">
                                                        <div class="elementor-element elementor-element-db26a3b elementor-column elementor-col-100 elementor-top-column" data-id="db26a3b" data-element_type="column">
                                                            <div class="elementor-column-wrap  elementor-element-populated">
                                                                <div class="elementor-widget-wrap">
                                                                    <div class="elementor-element elementor-element-82e9ee3 elementor-widget elementor-widget-heading" data-id="82e9ee3" data-element_type="widget" data-widget_type="heading.default">
                                                                        <div class="elementor-widget-container">
                                                                            <h2 class="elementor-heading-title elementor-size-large">Company Website Design & Development </h2>		</div>
                                                                    </div>
                                                                    <div class="elementor-element elementor-element-49c9ae2 elementor-widget elementor-widget-text-editor" data-id="49c9ae2" data-element_type="widget" data-widget_type="text-editor.default">
                                                                        <div class="elementor-widget-container">
                                                                            <div class="elementor-text-editor elementor-clearfix"><p>The Company Website Design &amp; Development Package must be combined with the Corporate ID Package and includes:</p><ul><li>CMS-Based Website</li><li>Basic Template Design and Customisation*</li><li>Up to 10 pages</li><li>Stock Photography</li><li>Copy Writing (to be determined and authored in consultation with client)</li><li>Uploading</li></ul><p> </p><p>* On-line forms and log-ins, on-line payments and other custom programming are not included and can be arranged on request.</p></div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </section>
                                            <section class="elementor-element elementor-element-2ba72fd elementor-section-height-min-height elementor-section-boxed elementor-section-height-default elementor-section-items-middle elementor-section elementor-top-section" data-id="2ba72fd" data-element_type="section" data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
                                                <div class="elementor-container elementor-column-gap-default">
                                                    <div class="elementor-row">
                                                        <div class="elementor-element elementor-element-0669432 elementor-column elementor-col-100 elementor-top-column" data-id="0669432" data-element_type="column">
                                                            <div class="elementor-column-wrap  elementor-element-populated">
                                                                <div class="elementor-widget-wrap">
                                                                    <div class="elementor-element elementor-element-9dafbb6 elementor-widget elementor-widget-heading" data-id="9dafbb6" data-element_type="widget" data-widget_type="heading.default">
                                                                        <div class="elementor-widget-container">
                                                                            <h2 class="elementor-heading-title elementor-size-large">Web Hosting & Support</h2>		</div>
                                                                    </div>
                                                                    <div class="elementor-element elementor-element-9299201 elementor-widget elementor-widget-text-editor" data-id="9299201" data-element_type="widget" data-widget_type="text-editor.default">
                                                                        <div class="elementor-widget-container">
                                                                            <div class="elementor-text-editor elementor-clearfix"><ul><li>Domain Registration and web hosting, set-up of up to 10 e-mails &amp; support</li><li>Basic website updating and maintenance</li></ul></div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </section>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </article>

                    </div><!-- #content -->
                </div><!-- #primary -->
            </div><!-- #content-wrap -->
        </main><!-- #main -->

        {% include footer.html %}

    </div><!-- #wrap -->
</div><!-- #outer-wrap -->

<a id="scroll-top" class="scroll-top-right" href="#"><span class="fa fa-angle-up"></span></a>

<div id="sidr-close">
    <a href="#" class="toggle-sidr-close">
        <i class="icon icon-close"></i><span class="close-text">Close Menu</span>
    </a>
</div>

{% include popup.html %}
{% include footer-js.html %}
</body>
</html>
