            <footer id="footer"
                    class="site-footer"
                    itemscope="itemscope"
                    itemtype="http://schema.org/WPFooter">
                <div id="footer-inner" class="clr">
                    <div id="footer-bottom" class="clr no-footer-nav">
                        <div id="footer-bottom-inner" class="container clr">
                            <div id="copyright" class="clr" role="contentinfo">
                                © 2020 City Business Center Limassol | Registration
                                No. EE47527
                            </div><!-- #copyright -->
                        </div><!-- #footer-bottom-inner -->
                    </div><!-- #footer-bottom -->
                </div><!-- #footer-inner -->
            </footer><!-- #footer -->
