.elementor-35 .elementor-element.elementor-element-5bf8ec1 {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
}

.elementor-35 .elementor-element.elementor-element-5bf8ec1 > .elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-35 .elementor-element.elementor-element-df0c34b > .elementor-container {
    min-height: 900px;
}

.elementor-35 .elementor-element.elementor-element-df0c34b > .elementor-container:after {
    content: "";
    min-height: inherit;
}

.elementor-35 .elementor-element.elementor-element-df0c34b:not(.elementor-motion-effects-element-type-background), .elementor-35 .elementor-element.elementor-element-df0c34b > .elementor-motion-effects-container > .elementor-motion-effects-layer {
    background-image: url("/assets/img/gallery/aMG_5779.jpg");
    background-position: top center;
    background-size: cover;
}

.elementor-35 .elementor-element.elementor-element-df0c34b > .elementor-background-overlay {
    background-color: #0c0c0c;
    opacity: 0.45;
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-35 .elementor-element.elementor-element-df0c34b {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
}

.elementor-35 .elementor-element.elementor-element-adb674c.elementor-column .elementor-column-wrap {
    align-items: center;
}

.elementor-35 .elementor-element.elementor-element-adb674c.elementor-column > .elementor-column-wrap > .elementor-widget-wrap {
    align-content: center;
    justify-content: center;
}

.elementor-35 .elementor-element.elementor-element-3aba015 {
    text-align: center;
}

.elementor-35 .elementor-element.elementor-element-3aba015.elementor-widget-heading .elementor-heading-title {
    color: #ffffff;
}

.elementor-35 .elementor-element.elementor-element-3aba015 .elementor-heading-title {
    font-family: "Montserrat", Sans-serif;
    font-size: 40px;
    font-weight: bold;
    text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
}

.elementor-35 .elementor-element.elementor-element-3aba015 > .elementor-widget-container {
    margin: 0px 0px 0px 0px;
    padding: 100px 0px 0px 0px;
}

.elementor-35 .elementor-element.elementor-element-bdda162 .elementor-text-editor {
    text-align: center;
}

.elementor-35 .elementor-element.elementor-element-bdda162 {
    color: #ffffff;
    font-family: "Montserrat", Sans-serif;
    font-size: 24px;
}

.elementor-35 .elementor-element.elementor-element-bdda162 > .elementor-widget-container {
    padding: 0px 0px 0px 0px;
}

.elementor-35 .elementor-element.elementor-element-12904b9 > .elementor-container {
    min-height: 500px;
}

.elementor-35 .elementor-element.elementor-element-12904b9 > .elementor-container:after {
    content: "";
    min-height: inherit;
}

.elementor-35 .elementor-element.elementor-element-7efe33c {
    text-align: center;
}

.elementor-35 .elementor-element.elementor-element-7efe33c.elementor-widget-heading .elementor-heading-title {
    color: #77787b;
}

.elementor-35 .elementor-element.elementor-element-7efe33c .elementor-heading-title {
    font-family: "Montserrat", Sans-serif;
    font-weight: bold;
    font-style: normal;
    line-height: 0.9em;
}

.elementor-35 .elementor-element.elementor-element-1a4ff1b .elementor-divider-separator {
    border-top-style: solid;
    border-top-width: 3px;
    border-top-color: #e5b700;
    width: 8%;
}

.elementor-35 .elementor-element.elementor-element-1a4ff1b .elementor-divider {
    text-align: center;
    padding-top: 6px;
    padding-bottom: 6px;
}

.elementor-35 .elementor-element.elementor-element-9b30a4a .elementor-text-editor {
    text-align: center;
}

.elementor-35 .elementor-element.elementor-element-9b30a4a {
    color: #77787b;
    font-family: "Montserrat", Sans-serif;
    font-size: 18px;
    font-weight: normal;
}

.elementor-35 .elementor-element.elementor-element-9b30a4a > .elementor-widget-container {
    margin: 0px 0px 0px 0px;
}

.elementor-35 .elementor-element.elementor-element-efac5d8 > .elementor-container {
    min-height: 200px;
}

.elementor-35 .elementor-element.elementor-element-efac5d8 > .elementor-container:after {
    content: "";
    min-height: inherit;
}

.elementor-35 .elementor-element.elementor-element-efac5d8:not(.elementor-motion-effects-element-type-background), .elementor-35 .elementor-element.elementor-element-efac5d8 > .elementor-motion-effects-container > .elementor-motion-effects-layer {
    background-image: url("/assets/img/gallery/aMG_6721.jpg");
    background-position: bottom center;
    background-size: cover;
}

.elementor-35 .elementor-element.elementor-element-efac5d8 > .elementor-background-overlay {
    background-color: #000000;
    opacity: 0.5;
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-35 .elementor-element.elementor-element-efac5d8 .elementor-background-overlay {
    filter: brightness(100%) contrast(100%) saturate(100%) blur(0px) hue-rotate(0deg);
}

.elementor-35 .elementor-element.elementor-element-efac5d8 {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
}

.elementor-35 .elementor-element.elementor-element-f6f57cf {
    text-align: center;
}

.elementor-35 .elementor-element.elementor-element-f6f57cf.elementor-widget-heading .elementor-heading-title {
    color: #ffffff;
}

.elementor-35 .elementor-element.elementor-element-f6f57cf .elementor-heading-title {
    font-family: "Montserrat", Sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    font-style: normal;
    line-height: 0.9em;
}

.elementor-35 .elementor-element.elementor-element-29d9206 .elementor-divider-separator {
    border-top-style: solid;
    border-top-width: 3px;
    border-top-color: #e5b700;
    width: 8%;
}

.elementor-35 .elementor-element.elementor-element-29d9206 .elementor-divider {
    text-align: center;
    padding-top: 6px;
    padding-bottom: 6px;
}

.elementor-35 .elementor-element.elementor-element-2c36d6b > .elementor-container {
    min-height: 574px;
}

.elementor-35 .elementor-element.elementor-element-2c36d6b > .elementor-container:after {
    content: "";
    min-height: inherit;
}

.elementor-35 .elementor-element.elementor-element-2c36d6b:not(.elementor-motion-effects-element-type-background), .elementor-35 .elementor-element.elementor-element-2c36d6b > .elementor-motion-effects-container > .elementor-motion-effects-layer {
    background-color: #54595f;
}

.elementor-35 .elementor-element.elementor-element-2c36d6b {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
}

.elementor-35 .elementor-element.elementor-element-2c36d6b > .elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-35 .elementor-element.elementor-element-a0b5eec > .elementor-element-populated {
    margin: 0px 0px 0px 0px;
}

.elementor-35 .elementor-element.elementor-element-75fd863 {
    text-align: center;
}

.elementor-35 .elementor-element.elementor-element-75fd863.elementor-widget-heading .elementor-heading-title {
    color: #ffffff;
}

.elementor-35 .elementor-element.elementor-element-75fd863 .elementor-heading-title {
    font-family: "Montserrat", Sans-serif;
    text-transform: none;
}

.elementor-35 .elementor-element.elementor-element-9a746a8 .elementor-text-editor {
    text-align: center;
}

.elementor-35 .elementor-element.elementor-element-9a746a8 {
    color: #ffffff;
    font-family: "Montserrat", Sans-serif;
    font-size: 18px;
    font-weight: normal;
}

.elementor-35 .elementor-element.elementor-element-9a746a8 > .elementor-widget-container {
    margin: 0px 0px 0px 0px;
}

.elementor-35 .elementor-element.elementor-element-4556907 > .elementor-container {
    min-height: 0px;
}

.elementor-35 .elementor-element.elementor-element-4556907 > .elementor-container:after {
    content: "";
    min-height: inherit;
}

.elementor-35 .elementor-element.elementor-element-4556907 {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
}

.elementor-35 .elementor-element.elementor-element-4556907 > .elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-35 .elementor-element.elementor-element-72ecee1 > .elementor-container {
    min-height: 550px;
}

.elementor-35 .elementor-element.elementor-element-72ecee1 > .elementor-container:after {
    content: "";
    min-height: inherit;
}

.elementor-35 .elementor-element.elementor-element-72ecee1:not(.elementor-motion-effects-element-type-background), .elementor-35 .elementor-element.elementor-element-72ecee1 > .elementor-motion-effects-container > .elementor-motion-effects-layer {
    background-color: #f7f7f7;
}

.elementor-35 .elementor-element.elementor-element-72ecee1 {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
}

.elementor-35 .elementor-element.elementor-element-72ecee1 > .elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-35 .elementor-element.elementor-element-9a8e7ca {
    text-align: center;
}

.elementor-35 .elementor-element.elementor-element-9a8e7ca.elementor-widget-heading .elementor-heading-title {
    color: #77787b;
}

.elementor-35 .elementor-element.elementor-element-9a8e7ca .elementor-heading-title {
    font-family: "Montserrat", Sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    font-style: normal;
    line-height: 0.9em;
}

.elementor-35 .elementor-element.elementor-element-e702d30 .elementor-divider-separator {
    border-top-style: solid;
    border-top-width: 3px;
    border-top-color: #e5c33d;
    width: 8%;
}

.elementor-35 .elementor-element.elementor-element-e702d30 .elementor-divider {
    text-align: center;
    padding-top: 6px;
    padding-bottom: 6px;
}

.elementor-35 .elementor-element.elementor-element-a5ea978 {
    margin-top: 30px;
    margin-bottom: 0px;
}

.elementor-35 .elementor-element.elementor-element-6ab431c.elementor-view-stacked .elementor-icon {
    background-color: #e5b700;
}

.elementor-35 .elementor-element.elementor-element-6ab431c.elementor-view-framed .elementor-icon, .elementor-35 .elementor-element.elementor-element-6ab431c.elementor-view-default .elementor-icon {
    color: #e5b700;
    border-color: #e5b700;
}

.elementor-35 .elementor-element.elementor-element-6ab431c.elementor-view-stacked .elementor-icon:hover {
    background-color: #f7f7f7;
    color: #e5b700;
}

.elementor-35 .elementor-element.elementor-element-6ab431c.elementor-view-framed .elementor-icon:hover, .elementor-35 .elementor-element.elementor-element-6ab431c.elementor-view-default .elementor-icon:hover {
    color: #f7f7f7;
    border-color: #f7f7f7;
}

.elementor-35 .elementor-element.elementor-element-6ab431c.elementor-view-framed .elementor-icon:hover {
    background-color: #e5b700;
}

.elementor-35 .elementor-element.elementor-element-6ab431c.elementor-position-right .elementor-icon-box-icon {
    margin-left: 12px;
}

.elementor-35 .elementor-element.elementor-element-6ab431c.elementor-position-left .elementor-icon-box-icon {
    margin-right: 12px;
}

.elementor-35 .elementor-element.elementor-element-6ab431c.elementor-position-top .elementor-icon-box-icon {
    margin-bottom: 12px;
}

.elementor-35 .elementor-element.elementor-element-6ab431c .elementor-icon {
    font-size: 45px;
    border-width: 3px 3px 3px 3px;
}

.elementor-35 .elementor-element.elementor-element-6ab431c .elementor-icon i {
    transform: rotate(0deg);
}

.elementor-35 .elementor-element.elementor-element-6ab431c .elementor-icon-box-title {
    margin-bottom: 10px;
}

.elementor-35 .elementor-element.elementor-element-6ab431c .elementor-icon-box-content .elementor-icon-box-title {
    color: #77787b;
    font-size: 24px;
    font-weight: 600;
}

.elementor-35 .elementor-element.elementor-element-6ab431c .elementor-icon-box-content .elementor-icon-box-description {
    color: #bfbfbf;
    font-size: 16px;
    font-weight: 300;
    line-height: 1.6em;
}

.elementor-35 .elementor-element.elementor-element-d7fbaee.elementor-view-stacked .elementor-icon {
    background-color: #e5b700;
}

.elementor-35 .elementor-element.elementor-element-d7fbaee.elementor-view-framed .elementor-icon, .elementor-35 .elementor-element.elementor-element-d7fbaee.elementor-view-default .elementor-icon {
    color: #e5b700;
    border-color: #e5b700;
}

.elementor-35 .elementor-element.elementor-element-d7fbaee.elementor-view-stacked .elementor-icon:hover {
    background-color: #f7f7f7;
    color: #e5b700;
}

.elementor-35 .elementor-element.elementor-element-d7fbaee.elementor-view-framed .elementor-icon:hover, .elementor-35 .elementor-element.elementor-element-d7fbaee.elementor-view-default .elementor-icon:hover {
    color: #f7f7f7;
    border-color: #f7f7f7;
}

.elementor-35 .elementor-element.elementor-element-d7fbaee.elementor-view-framed .elementor-icon:hover {
    background-color: #e5b700;
}

.elementor-35 .elementor-element.elementor-element-d7fbaee.elementor-position-right .elementor-icon-box-icon {
    margin-left: 12px;
}

.elementor-35 .elementor-element.elementor-element-d7fbaee.elementor-position-left .elementor-icon-box-icon {
    margin-right: 12px;
}

.elementor-35 .elementor-element.elementor-element-d7fbaee.elementor-position-top .elementor-icon-box-icon {
    margin-bottom: 12px;
}

.elementor-35 .elementor-element.elementor-element-d7fbaee .elementor-icon {
    font-size: 45px;
}

.elementor-35 .elementor-element.elementor-element-d7fbaee .elementor-icon i {
    transform: rotate(0deg);
}

.elementor-35 .elementor-element.elementor-element-d7fbaee .elementor-icon-box-title {
    margin-bottom: 10px;
}

.elementor-35 .elementor-element.elementor-element-d7fbaee .elementor-icon-box-content .elementor-icon-box-title {
    color: #77787b;
    font-size: 24px;
    font-weight: 600;
}

.elementor-35 .elementor-element.elementor-element-d7fbaee .elementor-icon-box-content .elementor-icon-box-description {
    color: #bfbfbf;
    font-size: 16px;
    font-weight: 300;
    line-height: 1.6em;
}

.elementor-35 .elementor-element.elementor-element-5526355.elementor-view-stacked .elementor-icon {
    background-color: #e5b700;
}

.elementor-35 .elementor-element.elementor-element-5526355.elementor-view-framed .elementor-icon, .elementor-35 .elementor-element.elementor-element-5526355.elementor-view-default .elementor-icon {
    color: #e5b700;
    border-color: #e5b700;
}

.elementor-35 .elementor-element.elementor-element-5526355.elementor-view-stacked .elementor-icon:hover {
    background-color: #f7f7f7;
    color: #e5b700;
}

.elementor-35 .elementor-element.elementor-element-5526355.elementor-view-framed .elementor-icon:hover, .elementor-35 .elementor-element.elementor-element-5526355.elementor-view-default .elementor-icon:hover {
    color: #f7f7f7;
    border-color: #f7f7f7;
}

.elementor-35 .elementor-element.elementor-element-5526355.elementor-view-framed .elementor-icon:hover {
    background-color: #e5b700;
}

.elementor-35 .elementor-element.elementor-element-5526355.elementor-position-right .elementor-icon-box-icon {
    margin-left: 12px;
}

.elementor-35 .elementor-element.elementor-element-5526355.elementor-position-left .elementor-icon-box-icon {
    margin-right: 12px;
}

.elementor-35 .elementor-element.elementor-element-5526355.elementor-position-top .elementor-icon-box-icon {
    margin-bottom: 12px;
}

.elementor-35 .elementor-element.elementor-element-5526355 .elementor-icon {
    font-size: 45px;
    border-width: 3px 3px 3px 3px;
}

.elementor-35 .elementor-element.elementor-element-5526355 .elementor-icon i {
    transform: rotate(0deg);
}

.elementor-35 .elementor-element.elementor-element-5526355 .elementor-icon-box-title {
    margin-bottom: 10px;
}

.elementor-35 .elementor-element.elementor-element-5526355 .elementor-icon-box-content .elementor-icon-box-title {
    color: #77787b;
    font-size: 24px;
    font-weight: 600;
}

.elementor-35 .elementor-element.elementor-element-5526355 .elementor-icon-box-content .elementor-icon-box-description {
    color: #bfbfbf;
    font-size: 16px;
    font-weight: 300;
    line-height: 1.6em;
}

.elementor-35 .elementor-element.elementor-element-93d3716 > .elementor-container {
    min-height: 200px;
}

.elementor-35 .elementor-element.elementor-element-93d3716 > .elementor-container:after {
    content: "";
    min-height: inherit;
}

.elementor-35 .elementor-element.elementor-element-93d3716:not(.elementor-motion-effects-element-type-background), .elementor-35 .elementor-element.elementor-element-93d3716 > .elementor-motion-effects-container > .elementor-motion-effects-layer {
    background-color: #ffffff;
}

.elementor-35 .elementor-element.elementor-element-93d3716 > .elementor-background-overlay {
    opacity: 0.5;
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-35 .elementor-element.elementor-element-93d3716 .elementor-background-overlay {
    filter: brightness(100%) contrast(100%) saturate(100%) blur(0px) hue-rotate(0deg);
}

.elementor-35 .elementor-element.elementor-element-93d3716 {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 0px 0px 0px 0px;
}

.elementor-35 .elementor-element.elementor-element-c8a4595 {
    text-align: center;
}

.elementor-35 .elementor-element.elementor-element-c8a4595.elementor-widget-heading .elementor-heading-title {
    color: #54595f;
}

.elementor-35 .elementor-element.elementor-element-c8a4595 .elementor-heading-title {
    font-family: "Montserrat", Sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    font-style: normal;
    line-height: 0.9em;
}

.elementor-35 .elementor-element.elementor-element-ba03890 .elementor-divider-separator {
    border-top-style: solid;
    border-top-width: 3px;
    border-top-color: #e5b700;
    width: 8%;
}

.elementor-35 .elementor-element.elementor-element-ba03890 .elementor-divider {
    text-align: center;
    padding-top: 6px;
    padding-bottom: 6px;
}

.elementor-35 .elementor-element.elementor-element-edf07f3 > .elementor-container {
    min-height: 0px;
}

.elementor-35 .elementor-element.elementor-element-edf07f3 > .elementor-container:after {
    content: "";
    min-height: inherit;
}

.elementor-35 .elementor-element.elementor-element-edf07f3 {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 0px 0px 0px 0px;
}

.elementor-35 .elementor-element.elementor-element-edf07f3 > .elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-35 .elementor-element.elementor-element-1075f2a > .elementor-element-populated {
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
}

.elementor-35 .elementor-element.elementor-element-945b57c .gallery-item img {
    border-style: solid;
    border-width: 1px 1px 1px 1px;
    border-color: #ffffff;
}

.elementor-35 .elementor-element.elementor-element-945b57c .gallery-item .gallery-caption {
    display: none;
}

.elementor-35 .elementor-element.elementor-element-945b57c > .elementor-widget-container {
    margin: 0px 0px -18px 0px;
    padding: 0px 0px 0px 0px;
    border-radius: 0px 0px 0px 0px;
}

.elementor-35 .elementor-element.elementor-element-945b57c:hover > .elementor-widget-container {
    border-radius: 0px 0px 0px 0px;
}

.elementor-35 .elementor-element.elementor-element-76f7d62 > .elementor-widget-container {
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
}

.elementor-35 .elementor-element.elementor-element-15fe020 > .elementor-container {
    min-height: 110px;
}

.elementor-35 .elementor-element.elementor-element-15fe020 > .elementor-container:after {
    content: "";
    min-height: inherit;
}

.elementor-35 .elementor-element.elementor-element-15fe020:not(.elementor-motion-effects-element-type-background), .elementor-35 .elementor-element.elementor-element-15fe020 > .elementor-motion-effects-container > .elementor-motion-effects-layer {
    background-color: #e5b700;
}

.elementor-35 .elementor-element.elementor-element-15fe020 {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 0px 0px 0px 0px;
}

.elementor-35 .elementor-element.elementor-element-15fe020 > .elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-35 .elementor-element.elementor-element-035fd72 > .elementor-element-populated {
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
}

.elementor-35 .elementor-element.elementor-element-104b05b {
    text-align: center;
}

.elementor-35 .elementor-element.elementor-element-104b05b.elementor-widget-heading .elementor-heading-title {
    color: #54595f;
}

.elementor-35 .elementor-element.elementor-element-104b05b .elementor-heading-title {
    font-family: "Montserrat", Sans-serif;
    font-weight: bold;
}

.elementor-35 .elementor-element.elementor-element-50c71a1 > .elementor-container {
    min-height: 0px;
}

.elementor-35 .elementor-element.elementor-element-50c71a1 > .elementor-container:after {
    content: "";
    min-height: inherit;
}

.elementor-35 .elementor-element.elementor-element-156dcf3:not(.elementor-motion-effects-element-type-background) > .elementor-element-populated, .elementor-35 .elementor-element.elementor-element-156dcf3 > .elementor-column-wrap > .elementor-motion-effects-container > .elementor-motion-effects-layer {
    background-image: url("/assets/img/gallery/aMG_6754.jpg");
    background-position: center center;
    background-size: cover;
}

.elementor-35 .elementor-element.elementor-element-156dcf3 > .elementor-element-populated {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
}

.elementor-35 .elementor-element.elementor-element-156dcf3 > .elementor-element-populated > .elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-35 .elementor-element.elementor-element-5d73683 .elementor-image img {
    width: 100%;
    max-width: 100%;
}

.elementor-35 .elementor-element.elementor-element-6d04704.elementor-column .elementor-column-wrap {
    align-items: center;
}

.elementor-35 .elementor-element.elementor-element-6d04704.elementor-column > .elementor-column-wrap > .elementor-widget-wrap {
    align-content: center;
}

.elementor-35 .elementor-element.elementor-element-6d04704:not(.elementor-motion-effects-element-type-background) > .elementor-element-populated, .elementor-35 .elementor-element.elementor-element-6d04704 > .elementor-column-wrap > .elementor-motion-effects-container > .elementor-motion-effects-layer {
    background-color: #5e5e5e;
}

.elementor-35 .elementor-element.elementor-element-6d04704 > .elementor-element-populated {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
}

.elementor-35 .elementor-element.elementor-element-6d04704 > .elementor-element-populated > .elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-35 .elementor-element.elementor-element-3d36b41 .elementor-text-editor {
    text-align: left;
}

.elementor-35 .elementor-element.elementor-element-3d36b41 {
    color: #ffffff;
    font-family: "Montserrat", Sans-serif;
    font-size: 16px;
    font-style: normal;
}

.elementor-35 .elementor-element.elementor-element-3d36b41 > .elementor-widget-container {
    margin: 30px 100px 30px 60px;
    padding: 0px 0px 0px 0px;
}

.elementor-35 .elementor-element.elementor-element-256e751 > .elementor-container {
    min-height: 200px;
}

.elementor-35 .elementor-element.elementor-element-256e751 > .elementor-container:after {
    content: "";
    min-height: inherit;
}

.elementor-35 .elementor-element.elementor-element-256e751:not(.elementor-motion-effects-element-type-background), .elementor-35 .elementor-element.elementor-element-256e751 > .elementor-motion-effects-container > .elementor-motion-effects-layer {
    background-color: #f7f7f7;
}

.elementor-35 .elementor-element.elementor-element-256e751 > .elementor-background-overlay {
    opacity: 0.5;
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-35 .elementor-element.elementor-element-256e751 .elementor-background-overlay {
    filter: brightness(100%) contrast(100%) saturate(100%) blur(0px) hue-rotate(0deg);
}

.elementor-35 .elementor-element.elementor-element-256e751 {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
}

.elementor-35 .elementor-element.elementor-element-1d87480 {
    text-align: center;
}

.elementor-35 .elementor-element.elementor-element-1d87480.elementor-widget-heading .elementor-heading-title {
    color: #54595f;
}

.elementor-35 .elementor-element.elementor-element-1d87480 .elementor-heading-title {
    font-family: "Montserrat", Sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    font-style: normal;
    line-height: 0.9em;
}

.elementor-35 .elementor-element.elementor-element-2809041 .elementor-divider-separator {
    border-top-style: solid;
    border-top-width: 3px;
    border-top-color: #e5b700;
    width: 8%;
}

.elementor-35 .elementor-element.elementor-element-2809041 .elementor-divider {
    text-align: center;
    padding-top: 6px;
    padding-bottom: 6px;
}

.elementor-35 .elementor-element.elementor-element-8bd65ee.elementor-column .elementor-column-wrap {
    align-items: center;
}

.elementor-35 .elementor-element.elementor-element-8bd65ee.elementor-column > .elementor-column-wrap > .elementor-widget-wrap {
    align-content: center;
}

.elementor-35 .elementor-element.elementor-element-8bd65ee > .elementor-element-populated {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    padding: 30px 50px 30px 30px;
}

.elementor-35 .elementor-element.elementor-element-8bd65ee > .elementor-element-populated > .elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-35 .elementor-element.elementor-element-76310ad {
    text-align: right;
}

.elementor-35 .elementor-element.elementor-element-76310ad.elementor-widget-heading .elementor-heading-title {
    color: #77787b;
}

.elementor-35 .elementor-element.elementor-element-76310ad .elementor-heading-title {
    font-family: "Montserrat", Sans-serif;
    font-size: 42px;
    font-weight: bold;
    font-style: normal;
}

.elementor-35 .elementor-element.elementor-element-76310ad > .elementor-widget-container {
    padding: 0px 0px 10px 0px;
}

.elementor-35 .elementor-element.elementor-element-3380bb6 .elementor-text-editor {
    text-align: right;
}

.elementor-35 .elementor-element.elementor-element-3380bb6 {
    color: #77787b;
    font-family: "Montserrat", Sans-serif;
    font-size: 20px;
    line-height: 1.5em;
}

.elementor-35 .elementor-element.elementor-element-3380bb6 > .elementor-widget-container {
    padding: 0px 0px 10px 0px;
}

.elementor-35 .elementor-element.elementor-element-7bccba9 .elementor-icon-list-items:not(.elementor-inline-items) .elementor-icon-list-item:not(:last-child) {
    padding-bottom: calc(0px / 2);
}

.elementor-35 .elementor-element.elementor-element-7bccba9 .elementor-icon-list-items:not(.elementor-inline-items) .elementor-icon-list-item:not(:first-child) {
    margin-top: calc(0px / 2);
}

.elementor-35 .elementor-element.elementor-element-7bccba9 .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item {
    margin-right: calc(0px / 2);
    margin-left: calc(0px / 2);
}

.elementor-35 .elementor-element.elementor-element-7bccba9 .elementor-icon-list-items.elementor-inline-items {
    margin-right: calc(-0px / 2);
    margin-left: calc(-0px / 2);
}

body.rtl .elementor-35 .elementor-element.elementor-element-7bccba9 .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item:after {
    left: calc(-0px / 2);
}

body:not(.rtl) .elementor-35 .elementor-element.elementor-element-7bccba9 .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item:after {
    right: calc(-0px / 2);
}

.elementor-35 .elementor-element.elementor-element-7bccba9 .elementor-icon-list-icon i {
    color: #77787b;
    font-size: 28px;
}

.elementor-35 .elementor-element.elementor-element-7bccba9 .elementor-icon-list-icon {
    width: 28px;
}

.elementor-35 .elementor-element.elementor-element-7bccba9 .elementor-icon-list-text {
    color: #77787b;
    padding-left: 10px;
}

.elementor-35 .elementor-element.elementor-element-7bccba9 .elementor-icon-list-item {
    font-family: "Montserrat", Sans-serif;
    font-size: 25px;
    font-weight: 600;
}

.elementor-35 .elementor-element.elementor-element-d229f4f iframe {
    height: 500px;
}

.elementor-35 .elementor-element.elementor-element-d229f4f > .elementor-widget-container {
    border-radius: 0px 0px 0px 0px;
}

.elementor-35 .elementor-element.elementor-element-4bed969 > .elementor-container {
    max-width: 1200px;
    min-height: 700px;
}

.elementor-35 .elementor-element.elementor-element-4bed969 > .elementor-container:after {
    content: "";
    min-height: inherit;
}

.elementor-35 .elementor-element.elementor-element-4bed969:not(.elementor-motion-effects-element-type-background), .elementor-35 .elementor-element.elementor-element-4bed969 > .elementor-motion-effects-container > .elementor-motion-effects-layer {
    background-image: url("/assets/img/gallery/aMG_6759.jpg");
    background-position: bottom center;
    background-size: cover;
}

.elementor-35 .elementor-element.elementor-element-4bed969 > .elementor-background-overlay {
    background-color: #000000;
    opacity: 0.5;
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-35 .elementor-element.elementor-element-4bed969 {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
}

.elementor-35 .elementor-element.elementor-element-af34f09 > .elementor-element-populated {
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
}

.elementor-35 .elementor-element.elementor-element-5866c8b {
    text-align: left;
}

.elementor-35 .elementor-element.elementor-element-5866c8b.elementor-widget-heading .elementor-heading-title {
    color: #ffffff;
}

.elementor-35 .elementor-element.elementor-element-5866c8b .elementor-heading-title {
    font-family: "Montserrat", Sans-serif;
    font-size: 35px;
}

.elementor-35 .elementor-element.elementor-element-5866c8b > .elementor-widget-container {
    margin: 0px 0px 0px 20px;
}

.elementor-35 .elementor-element.elementor-element-5c410ed .eael-wpforms label.wpforms-error {
    display: block !important;
}

.elementor-35 .elementor-element.elementor-element-5c410ed .eael-contact-form {
    max-width: 560px;
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
    border-radius: 0px 0px 0px 0px;
}

.elementor-35 .elementor-element.elementor-element-5c410ed .eael-wpforms .wpforms-field input:not([type=radio]):not([type=checkbox]):not([type=submit]):not([type=button]):not([type=image]):not([type=file]), .elementor-35 .elementor-element.elementor-element-5c410ed .eael-wpforms .wpforms-field textarea, .elementor-35 .elementor-element.elementor-element-5c410ed .eael-wpforms .wpforms-field select {
    background-color: rgba(204, 204, 204, 0.53);
    color: #ffffff;
    font-family: "Montserrat", Sans-serif;
}

.elementor-35 .elementor-element.elementor-element-5c410ed .eael-wpforms .wpforms-field input::-webkit-input-placeholder, .elementor-35 .elementor-element.elementor-element-5c410ed .eael-wpforms .wpforms-field textarea::-webkit-input-placeholder {
    color: rgba(255, 255, 255, 0.65);
}

.elementor-35 .elementor-element.elementor-element-5c410ed .eael-wpforms .wpforms-submit-container .wpforms-submit {
    background-color: #e5b700;
    color: #54595f;
    border-radius: 3px 3px 3px 3px;
    font-family: "Montserrat", Sans-serif;
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
    font-style: normal;
}

.elementor-35 .elementor-element.elementor-element-5c410ed .eael-wpforms .wpforms-submit-container .wpforms-submit:hover {
    background-color: #f9cf25;
}

.elementor-35 .elementor-element.elementor-element-5c410ed .eael-wpforms input.wpforms-error, .elementor-35 .elementor-element.elementor-element-5c410ed .eael-wpforms textarea.wpforms-error {
    border-width: 1px;
}

.elementor-35 .elementor-element.elementor-element-5c410ed > .elementor-widget-container {
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
}

.elementor-35 .elementor-element.elementor-element-aba798d.elementor-column .elementor-column-wrap {
    align-items: center;
}

.elementor-35 .elementor-element.elementor-element-aba798d.elementor-column > .elementor-column-wrap > .elementor-widget-wrap {
    align-content: center;
}

.elementor-35 .elementor-element.elementor-element-94045db {
    text-align: left;
}

.elementor-35 .elementor-element.elementor-element-94045db > .elementor-widget-container {
    margin: 0px 0px 0px 0px;
    padding: 50px 0px 0px 0px;
}

@media (min-width: 768px) {
    .elementor-35 .elementor-element.elementor-element-8bd65ee {
        width: 38.677%;
    }

    .elementor-35 .elementor-element.elementor-element-de6fc42 {
        width: 61.323%;
    }
}

@media (min-width: 1025px) {
    .elementor-35 .elementor-element.elementor-element-df0c34b:not(.elementor-motion-effects-element-type-background), .elementor-35 .elementor-element.elementor-element-df0c34b > .elementor-motion-effects-container > .elementor-motion-effects-layer {
        background-attachment: scroll;
    }

    .elementor-35 .elementor-element.elementor-element-efac5d8:not(.elementor-motion-effects-element-type-background), .elementor-35 .elementor-element.elementor-element-efac5d8 > .elementor-motion-effects-container > .elementor-motion-effects-layer {
        background-attachment: fixed;
    }

    .elementor-35 .elementor-element.elementor-element-4bed969:not(.elementor-motion-effects-element-type-background), .elementor-35 .elementor-element.elementor-element-4bed969 > .elementor-motion-effects-container > .elementor-motion-effects-layer {
        background-attachment: scroll;
    }
}

@media (max-width: 1024px) {
    .elementor-35 .elementor-element.elementor-element-6ab431c .elementor-icon-box-content .elementor-icon-box-title {
        font-size: 20px;
    }

    .elementor-35 .elementor-element.elementor-element-d7fbaee .elementor-icon-box-content .elementor-icon-box-title {
        font-size: 20px;
    }

    .elementor-35 .elementor-element.elementor-element-5526355 .elementor-icon-box-content .elementor-icon-box-title {
        font-size: 20px;
    }
}

@media (max-width: 767px) {
    .elementor-35 .elementor-element.elementor-element-df0c34b > .elementor-container {
        min-height: 468px;
    }

    .elementor-35 .elementor-element.elementor-element-df0c34b > .elementor-container:after {
        content: "";
        min-height: inherit;
    }

    .elementor-35 .elementor-element.elementor-element-df0c34b:not(.elementor-motion-effects-element-type-background), .elementor-35 .elementor-element.elementor-element-df0c34b > .elementor-motion-effects-container > .elementor-motion-effects-layer {
        background-position: center center;
    }

    .elementor-35 .elementor-element.elementor-element-adb674c > .elementor-element-populated {
        margin: 0px 0px 0px 0px;
        padding: 0px 0px 0px 0px;
    }

    .elementor-35 .elementor-element.elementor-element-3aba015 {
        text-align: center;
    }

    .elementor-35 .elementor-element.elementor-element-3aba015 .elementor-heading-title {
        font-size: 26px;
        line-height: 31px;
    }

    .elementor-35 .elementor-element.elementor-element-3aba015 > .elementor-widget-container {
        margin: 0px 0px 0px 0px;
        padding: 0px 0px 0px 0px;
    }

    .elementor-35 .elementor-element.elementor-element-bdda162 .elementor-text-editor {
        text-align: center;
    }

    .elementor-35 .elementor-element.elementor-element-bdda162 {
        font-size: 19px;
        line-height: 1.3em;
    }

    .elementor-35 .elementor-element.elementor-element-bdda162 > .elementor-widget-container {
        margin: 0px 0px 0px 0px;
        padding: 0px 0px 0px 0px;
    }

    .elementor-35 .elementor-element.elementor-element-12904b9 {
        margin-top: 0px;
        margin-bottom: 0px;
        padding: 30px 30px 30px 30px;
    }

    .elementor-35 .elementor-element.elementor-element-9b30a4a {
        font-size: 16px;
    }

    .elementor-35 .elementor-element.elementor-element-efac5d8 > .elementor-container {
        min-height: 142px;
    }

    .elementor-35 .elementor-element.elementor-element-efac5d8 > .elementor-container:after {
        content: "";
        min-height: inherit;
    }

    .elementor-35 .elementor-element.elementor-element-f6f57cf .elementor-heading-title {
        font-size: 23px;
    }

    .elementor-35 .elementor-element.elementor-element-2c36d6b {
        padding: 30px 30px 30px 30px;
    }

    .elementor-35 .elementor-element.elementor-element-9a746a8 {
        font-size: 16px;
    }

    .elementor-35 .elementor-element.elementor-element-9a746a8 > .elementor-widget-container {
        padding: 0px 0px 0px 0px;
    }

    .elementor-35 .elementor-element.elementor-element-72ecee1 {
        padding: 30px 30px 30px 30px;
    }

    .elementor-35 .elementor-element.elementor-element-a5ea978 {
        padding: 30px 30px 30px 30px;
    }

    .elementor-35 .elementor-element.elementor-element-6ab431c .elementor-icon-box-icon {
        margin-bottom: 12px;
    }

    .elementor-35 .elementor-element.elementor-element-d7fbaee .elementor-icon-box-icon {
        margin-bottom: 12px;
    }

    .elementor-35 .elementor-element.elementor-element-5526355 .elementor-icon-box-icon {
        margin-bottom: 12px;
    }

    .elementor-35 .elementor-element.elementor-element-93d3716 > .elementor-container {
        min-height: 142px;
    }

    .elementor-35 .elementor-element.elementor-element-93d3716 > .elementor-container:after {
        content: "";
        min-height: inherit;
    }

    .elementor-35 .elementor-element.elementor-element-c8a4595 .elementor-heading-title {
        font-size: 23px;
    }

    .elementor-35 .elementor-element.elementor-element-6d04704 > .elementor-element-populated {
        margin: 0px 0px 0px 0px;
        padding: 0px 0px 0px 0px;
    }

    .elementor-35 .elementor-element.elementor-element-3d36b41 .elementor-text-editor {
        text-align: center;
    }

    .elementor-35 .elementor-element.elementor-element-3d36b41 > .elementor-widget-container {
        margin: 0px 0px 0px 0px;
        padding: 30px 30px 30px 30px;
    }

    .elementor-35 .elementor-element.elementor-element-256e751 > .elementor-container {
        min-height: 142px;
    }

    .elementor-35 .elementor-element.elementor-element-256e751 > .elementor-container:after {
        content: "";
        min-height: inherit;
    }

    .elementor-35 .elementor-element.elementor-element-1d87480 .elementor-heading-title {
        font-size: 23px;
    }

    .elementor-35 .elementor-element.elementor-element-76310ad {
        text-align: center;
    }

    .elementor-35 .elementor-element.elementor-element-76310ad .elementor-heading-title {
        font-size: 29px;
    }

    .elementor-35 .elementor-element.elementor-element-3380bb6 .elementor-text-editor {
        text-align: center;
    }

    .elementor-35 .elementor-element.elementor-element-7bccba9 .elementor-icon-list-icon {
        width: 21px;
    }

    .elementor-35 .elementor-element.elementor-element-7bccba9 .elementor-icon-list-icon i {
        font-size: 21px;
    }

    .elementor-35 .elementor-element.elementor-element-7bccba9 .elementor-icon-list-item {
        font-size: 16px;
    }

    .elementor-35 .elementor-element.elementor-element-af34f09 > .elementor-element-populated {
        margin: 0px 0px 0px 0px;
        padding: 0px 0px 0px 0px;
    }

    .elementor-35 .elementor-element.elementor-element-5866c8b {
        text-align: center;
    }

    .elementor-35 .elementor-element.elementor-element-5c410ed .eael-contact-form {
        max-width: 300px;
    }

    .elementor-35 .elementor-element.elementor-element-94045db {
        text-align: center;
    }
}