<!DOCTYPE html>
<html class="html" lang="en-US" itemscope itemtype="http://schema.org/WebPage">

{% include head.html %}

<body class="home page-template-default page page-id-{{ page.css }} wp-custom-logo oceanwp-theme sidebar-mobile has-transparent-header no-header-border default-breakpoint content-full-screen page-header-disabled has-breadcrumbs no-margins elementor-default elementor-page elementor-page-{{ page.css }}">

<div id="outer-wrap" class="site clr">
    <div id="wrap" class="clr">
        <div id="transparent-header-wrap" class="clr">
            <header id="site-header" class="transparent-header clr"
                    data-height="140" itemscope="itemscope"
                    itemtype="http://schema.org/WPHeader">
                <div id="site-header-inner" class="clr container">
                    <div id="site-logo" class="clr" itemscope
                         itemtype="http://schema.org/Brand">
                        <div id="site-logo-inner" class="clr">
                            <a href="https://cbcl.com.cy/"
                               class="custom-logo-link"
                               rel="home"
                               itemprop="url">
                                <img width="800"
                                     height="418"
                                     src="/assets/img/cropped-C.B.C.L.-Logo-1.png"
                                     class="custom-logo" alt=""
                                     itemprop="logo"
                                     srcset="/assets/img/cropped-C.B.C.L.-Logo-1.png 800w, /assets/img/cropped-C.B.C.L.-Logo-1-300x157.png 300w, /assets/img/cropped-C.B.C.L.-Logo-1-768x401.png 768w"
                                     sizes="(max-width: 800px) 100vw, 800px"/>
                            </a>
                        </div><!-- #site-logo-inner -->
                    </div><!-- #site-logo -->
                    <div id="site-navigation-wrap" class="clr">
                        <nav id="site-navigation"
                             class="navigation main-navigation clr"
                             itemscope="itemscope"
                             itemtype="http://schema.org/SiteNavigationElement">

                            <ul id="menu-menu1"
                                class="main-menu dropdown-menu sf-menu">
                                <li id="menu-item-41"
                                    class="menu-item menu-item-type-custom menu-item-object-custom current-menu-item current_page_item menu-item-home menu-item-41">
                                    <a href="/#home"
                                       class="menu-link">
                                        <span class="text-wrap">
                                            HOME
                                        </span>
                                    </a>
                                </li>
                                <li id="menu-item-43"
                                    class="menu-item menu-item-type-custom menu-item-object-custom current-menu-item current_page_item menu-item-home menu-item-43">
                                    <a href="/#about"
                                       class="menu-link">
                                        <span class="text-wrap">
                                            ABOUT US
                                        </span>
                                    </a>
                                </li>
                                <li id="menu-item-45"
                                    class="menu-item menu-item-type-custom menu-item-object-custom current-menu-item current_page_item menu-item-home menu-item-has-children dropdown menu-item-45">
                                    <a href="/#services"
                                       class="menu-link">
                                        <span class="text-wrap">
                                            SERVICES <span class="nav-arrow fa fa-angle-down"></span>
                                        </span>
                                    </a>
                                    <ul class="sub-menu">
                                        <li id="menu-item-627"
                                            class="menu-item menu-item-type-post_type menu-item-object-page menu-item-627">
                                            <a href="/serviced-offices"
                                               class="menu-link">
                                                <span class="text-wrap">
                                                    Serviced Offices
                                                </span>
                                            </a>
                                        </li>
                                        <li id="menu-item-623"
                                            class="menu-item menu-item-type-post_type menu-item-object-page menu-item-623">
                                            <a href="/marketing-communication"
                                               class="menu-link">
                                                <span class="text-wrap">
                                                    Marketing Communication
                                                </span>
                                            </a>
                                        </li>
                                        <li id="menu-item-625"
                                            class="menu-item menu-item-type-post_type menu-item-object-page menu-item-625">
                                            <a href="/support-facilities"
                                               class="menu-link">
                                                <span class="text-wrap">
                                                    Support &#038; Facilities
                                                </span>
                                            </a>
                                        </li>
                                    </ul>
                                </li>
                                <li id="menu-item-171"
                                    class="menu-item menu-item-type-custom menu-item-object-custom current-menu-item current_page_item menu-item-home current-menu-ancestor current-menu-parent menu-item-has-children dropdown menu-item-171">
                                    <a href="/#gallery"
                                       class="menu-link">
                                        <span class="text-wrap">
                                            GALLERY <span class="nav-arrow fa fa-angle-down"></span>
                                        </span>
                                    </a>
                                    <ul class="sub-menu">
                                        <li id="menu-item-681"
                                            class="menu-item menu-item-type-custom menu-item-object-custom current-menu-item current_page_item menu-item-home menu-item-681">
                                            <a href="/#floors"
                                               class="menu-link">
                                                <span class="text-wrap">
                                                    FLOOR PLAN
                                                </span>
                                            </a>
                                        </li>
                                    </ul>
                                </li>
                                <li id="menu-item-47"
                                    class="menu-item menu-item-type-custom menu-item-object-custom current-menu-item current_page_item menu-item-home menu-item-47">
                                    <a href="/#contact"
                                       class="menu-link">
                                        <span class="text-wrap">
                                            CONTACT
                                        </span>
                                    </a>
                                </li>
                            </ul>
                        </nav><!-- #site-navigation -->


                    </div><!-- #site-navigation-wrap -->

                    <div class="oceanwp-mobile-menu-icon clr mobile-right">
                        <a href="#" class="mobile-menu">
                            <i class="fa fa-bars"></i>
                            <span class="oceanwp-text">
                                Menu
                            </span>
                        </a>
                    </div><!-- #oceanwp-mobile-menu-navbar -->
                </div><!-- #site-header-inner -->
            </header><!-- #site-header -->
        </div>

        <main id="main" class="site-main clr" >
            <div id="content-wrap" class="container clr">
                <div id="primary" class="content-area clr">
                    <div id="content" class="site-content clr">
                        {{ content }}

                    </div><!-- #content -->
                </div><!-- #primary -->
            </div><!-- #content-wrap -->
        </main><!-- #main -->

        {% include footer.html %}
    </div><!-- #wrap -->
</div><!-- #outer-wrap -->

<a id="scroll-top" class="scroll-top-right" href="#"><span class="fa fa-angle-up"></span></a>

<div id="sidr-close">
    <a href="#" class="toggle-sidr-close">
        <i class="icon icon-close"></i><span class="close-text">Close Menu</span>
    </a>
</div>

{% include popup.html %}
{% include footer-js.html %}
</body>
</html>